<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrarse
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input name="name" type="text" class="form-control" value="{{name}}" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" value="{{email}}" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" value="{{password}}" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input name="confirm_password" type="password" value="{{confirm_password}}" class="form-control" placeholder="Password confirm">
                    </div>
                    <button class="btn btn-secondary btn-block">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>